# Ignore development and build-related files
node_modules/



# Ignore editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore source control files
.git
.gitignore

# Ignore test files and directories
__tests__/
src/test/

# Ignore configuration files
tsconfig.json
tsconfig.build.json

# Ignore documentation and example files
docs/
examples/
README.md
